name: Verify Pull Request
on:
  pull_request:
    paths:
      - '**/src/**'
      - '**/pom.xml'
      - 'pom.xml'

permissions:
  contents: read

jobs:
  verify:
    name: Verify Pull Request
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up JDK 17
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn -B -ntp clean install
